@page "/testing"
@using Blazor_FluentUI.Components

<PageTitle>Testing</PageTitle>

<h1>Testing</h1>

@*
    // -----------------------------------
    // CodeSnippet
    // -----------------------------------
*@

<h2>CodeSnippet</h2>

<CodeSnippet Language="CSharp" Style="">Console.WriteLine("");</CodeSnippet>

<FluentDivider></FluentDivider>

@code {}

@*
    // -----------------------------------
    // ConsoleLog
    // -----------------------------------
*@

<h2>ConsoleLog</h2>

<ConsoleLog ConsoleContent="Log log log"></ConsoleLog>

@code {}

<FluentDivider></FluentDivider>