@page "/testing"
@using Blazor_FluentUI.Components

<PageTitle>Testing</PageTitle>

<h1>Testing</h1>

<CodeSnippet Language="CSharp" Style="">Console.WriteLine("");</CodeSnippet>

@code {

}